* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	text-align: center;
}

.container {
	display: flex;
}

#bubbleChart {
	width: 70vw;
	height: 70vh;
}

#news {
	width: 30vw;
	height: 70vh;
}

#expand {
	width: 70vw;
	height: 30vh;
	float: left;
}
